# Tous les fichiers doivent avoir un retour à la ligne en mode Linux
* text eol=lf

# Sauf les fichiers binaires
*.png binary
*.jpg binary
*.gpkg binary
*.cpg binary
*.bdf binary
*.shp binary
*.shx binary
*.sld binary
*.tiff binary
